html{
    scroll-behavior: smooth;
}
body{
    opacity: 1;
    transition: 0.5s;
    background-color: #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1, h2{
    text-shadow: 0px 0px 10px #00f7ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* SCROLLBAR */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #111;
}
::-webkit-scrollbar-thumb{
    background: #00f7ff;
    border-radius: 10px;
}
/* NAVBAR */
.navbar{
    background-color: #111 !important;
    border-bottom: 2px solid #00f7ff;
    backdrop-filter: blur(10px);
}
.navbar-brand{
    font-size: 1.7rem;
    color: #00f7ff !important;
}
.nav-link{
    color: white !important;
    margin-left: 15px;
    transition: 0.3s;
}
.nav-link:hover{
    color: #00f7ff !important;
}
.news-link{
    text-decoration: none;
}
/* HERO SECTION */
/* HERO SLIDER */
.hero-slide{
    min-height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
/* INDICADORES */
.carousel-indicators button{
    background-color: #00f7ff !important;
}
/* BOTONES */
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    padding: 20px;
}
/* SECCIÓN JUEGOS */
#juegos{
    background-color: #151515;
}
.game-card{
    background-color: #161616;
    border: 1px solid #2c2c2c;
    border-radius: 15px;
    transition: 0.4s;
    overflow: hidden;
    margin-bottom: 20px;
}
.game-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px #00f7ff;
}
.game-card img{
    border-bottom: 2px solid #00f7ff;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
    height: 350px;
    object-fit: cover;
}
.game-card .card-body{
    color: white;
}
.game-card .btn{
    background-color: #00f7ff;
    border: none;
    color: black;
    font-weight: bold;
}
.game-card .btn:hover{
    background-color: white;
}
/* NOTICIAS */
.news-card{
    background: #161616;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s;
    height: 100%;
    cursor: pointer;
}
.news-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px #00f7ff;
}
.news-card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.news-content{
    padding: 25px;
}
.news-tag{
    background: #00f7ff;
    color: black;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}
.news-content h4{
    margin-top: 18px;
    color: white;
}
.news-content p{
    color: #aaa;
    margin-top: 10px;
}
/* TABLA TORNEOS */
.torneos-section{
    background-image:
    linear-gradient(rgba(0,0,0,0.80),
    rgba(0,0,0,0.80)),
    url('../img/copa.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.torneos-section h2{
    color: #00f7ff;
}
.table{
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    overflow: hidden;
}
.table th{
    background-color: #00f7ff;
    color: black;
}
.table td{
    vertical-align: middle;
}
.table-hover tbody tr:hover{
    background-color: rgba(0,247,255,0.15);
}
/* FOOTER */
footer{
    background: #080808;
    border-top: 2px solid #00f7ff;
    padding-top: 60px;
}
.footer-logo{
    color: #00f7ff;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 15px #00f7ff;
}
.footer-text{
    color: #aaa;
    line-height: 1.8;
}
.footer-title{
    color: white;
    margin-bottom: 20px;
}
.footer-links{
    list-style: none;
    padding: 0;
}
.footer-links li{
    margin-bottom: 10px;
}
.footer-links a{
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}
.footer-links a:hover{
    color: #00f7ff;
    padding-left: 5px;
}
.footer-social i{
    font-size: 1.7rem;
    margin-right: 15px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.footer-social i:hover{
    color: #00f7ff;
    transform: translateY(-5px);
}
.footer-bottom{
    border-top: 1px solid #222;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    color: #777;
}
/* RESPONSIVE */
@media(max-width: 768px){
    .hero-section h1{
        font-size: 2.5rem;
    }
    .hero-section{
        text-align: center;
    }
    .navbar-brand{
        font-size: 1.3rem;
    }
    .navbar-brand img{
        width: 35px;
    }
    .navbar-collapse{
        background: #111;
        padding: 15px;
        border-radius: 10px;
    }
    .carousel-item img{
        object-position: center;
    }
    .carousel-indicators{
        bottom: 5px;
    }
    .hero-slide{
        min-height: 35vh;
    }
    .game-card img{
        height: 220px;
    }
    .news-card img{
        height: 200px;
    }
    h1{
        font-size: 2rem !important;
    }
    h2{
        font-size: 1.8rem;
    }
    .footer-logo{
        justify-content: center;
    }
    .footer-title{
        margin-top: 20px;
    }
    
}
/* GTA VI PAGE */
.gta-hero{
    background-image:
    linear-gradient(rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)),
    url('../img/gta-banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
/* GALLERY */
.gallery-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: 0.4s;
    border-radius: 15px;
}
.gallery-img:hover{
    transform: scale(1.03);
}
/* VALORANT PAGE */
.valorant-hero{
    background-image:
    linear-gradient(rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)),
    url('../img/banner-valorant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
/* MINECRAFT PAGE */
.minecraft-hero{
    background-image:
    linear-gradient(rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)),
    url('../img/banner-minecraft.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
@media(max-width: 768px){
    .valorant-hero,
    .minecraft-hero,
    .gta-hero{
        min-height: 45vh;
        background-position: top center;
        padding: 40px 20px;
    }
    .gallery-img{
        height: 250px;
    }
    .navbar-collapse{
        background: #111;
        padding: 15px;
        border-radius: 10px;
    }
}
#gato-asistente{
    position: fixed;
    right: 20px;
    bottom: max(20px, env(safe-area-inset-bottom));
    z-index: 9999;
    display: block !important;
}
#gato-asistente img{
    width: 100px;
    cursor: pointer;
    animation: flotar 2s ease-in-out infinite;
}
.mensaje-gato{
    position: absolute;
    bottom: 110px;
    right: 0;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 15px;
    width: 220px;
    display: none;
    z-index: 10000;
}
@keyframes flotar{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
@media(max-width:768px){
    #gato-asistente img{
        width: 70px;
    }
}
/* Registro */
.gamer-card{
    width: 100%;
    max-width: 700px;
    background: rgba(14, 14, 15, 0.95);
    border: 2px solid #00f7ff;
    border-radius: 25px;
    padding: 40px;
    box-shadow:
    0 0 10px #00f7ff,
    0 0 20px rgba(0,229,255,.5),
    inset 0 0 20px rgba(0,229,255,.1);
}
.neon-title{
    text-align: center;
    color: #00e5ff;
    font-size: 3rem;
    font-weight: bold;
    text-shadow:
    0 0 5px #00e5ff,
    0 0 10px #00e5ff,
    0 0 20px #00e5ff;
}
.form-label{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.gamer-input{
    background: rgba(0,0,0,.35);
    border: 1px solid #00e5ff;
    border-radius: 10px;
    color: white;
    padding: 14px;
}
.gamer-input:focus{
    background: rgba(0,0,0,.4);
    color: white;
    border-color: #00e5ff;
    box-shadow:
    0 0 5px #00e5ff,
    0 0 15px rgba(0,229,255,.5);
    outline: none;
}
.form-check-input{
    background-color: transparent;
    border: 1px solid #00e5ff;
}
.form-check-input:checked{
    background-color: #00e5ff;
    border-color: #00e5ff;
}
.form-check-label{
    color: white;
}
.gamer-btn{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 1.3rem;
    font-weight: bold;
    background: linear-gradient(
        90deg,
        #00e5ff,
        #00cfff
    );
    color: #000;
    transition: .3s;
}
.gamer-btn:hover{
    transform: translateY(-3px);
    box-shadow:
    0 0 10px #00e5ff,
    0 0 25px #00e5ff,
    0 0 40px #00e5ff;
}
.success{
    background: rgba(0,255,128,.15);
    color: #00ff99;
    border: 1px solid #00ff99;
    padding: 10px;
    border-radius: 8px;
}
.error{
    background: rgba(255,0,0,.15);
    color: #ff5f5f;
    border: 1px solid #ff5f5f;
    padding: 10px;
    border-radius: 8px;
}
/*terminos y condiciones */
.btn-neon{
    background:#00ffff;
    color:black;
    font-weight:bold;
    border:none;
}
.btn-neon:hover{
    background:#00e6e6;
    box-shadow:
    0 0 10px #00ffff,
    0 0 20px #00ffff;
}
.link-neon{
    color:#00ffff;
    text-decoration:none;
}
.link-neon:hover{
    text-shadow:
    0 0 10px #00ffff;
}
.modal-gamer{
    background:#0f172a;
    color:white;
    border:2px solid #00ffff;
}